* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  background-color: #F1A661;
}

.navbar {
  margin-left: 5%;
  margin-right: 5%;
}

.navbar .nav {
  position: relative;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

.navbar .nav li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

.navbar .nav .logo {
  font-size: 15px;
}

.navbar .nav .item-1 {
  margin-left: 55%;
  font-size: 15px;
}

.navbar .nav .item {
  margin-left: 2%;
  font-size: 15px;
}