<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style-main.css">
    <link rel="stylesheet" href="/css/driverhome.css">
      <style>  
      body{
        background-color: #efefef;
      }
        #support-container{
    position: absolute;
    top: 10rem;
    left: 2rem;
    padding: 2rem;
    width: 95%;
    background-color: #efefef;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
}

#support{
    padding: 1rem;
}

#support ul{
    list-style-type: none;
}
#support ul li h3{
    margin-left: 0.5rem;
    margin-top: 1rem;
}
#support ul li h2 i{
    margin-right: 0.5rem;
}
#support ul li p {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

#support ol li{
    margin-left: 2rem;
    text-align: justify;
    margin: 1rem 0 0.5rem 2rem;
}
      </style>
</head>
<body>
    <div th:replace="captain-home::navbar3"> </div>
    <div class="menu">
        <ul class="menu-list">
            <li>
                <a href="./captainprofile"  class="block
                "> <i class="fa-regular fa-user"></i></a>
                <a href="./captainprofile" class="block
                ">Profile</a>
            </li>
            <li>
                <a href="./captainorders" class="block
                "><i class="fa-solid fa-clock-rotate-left"></i></a>
                <a href="./captainorders" class="block
                ">Orders</a>
            </li>
            <li>
                <a href="./captainnotification" class="block
                "> <i class="fa-solid fa-bell"></i></a>
                <a href="./captainnotification" class="block
                ">Notification</a>
            </li>
            <li>
                <a href="./captainsetting" class="block
                "><i class="fa-solid fa-wrench"></i></a>
                <a href="./captainsetting" class="block
                ">Settings</a>
            </li>
            <li>
                <a href="./captainsupport" class="block
                "><i class="fa-solid fa-headset"></i></a>
                <a href="./captainsupport" class="block
                ">Support</a>
            </li>
            <li>
                <a href="./captainearnings"  class="block"> <i class="fa-solid fa-wallet"></i></a>
                <a href="./captainearnings" class="block">Total Earnings</a>
            </li>
            
        </ul>  
        <hr>
    </div>  
    <div id="support-container">
        <div id="support">
            <ul class="support-list">
                <li>
                    <div class="safety-faq">
                        <h2><i class="fa-solid fa-shield"></i>Safety & Security</h2>
                        <h3>Q: What measures should segways take to ensure the safety and security of its users?</h3>
                        <p>A: Segways should take several measures to ensure the safety and security of its users,
                            including:</p>
                        <ol>
                            <li>
                                <b>User verification:</b> The app should verify the identity of its users by requiring
                                them to provide their phone number, email, and government-issued ID.
                            </li>
                            <li>
                                <b>Driver screening:</b> The app should conduct thorough background checks on its drivers to
                                ensure that they have a clean criminal record and are qualified to operate a motorcycle.
                            </li>
                            <li>
                                <b>In-app chat/call:</b> The app should have a built-in chat/call feature that allows users to
                                communicate with their driver without revealing their personal phone number.
                            </li>
                            <li>
                                <b>Emergency button:</b> The app should have an emergency button that users can use to call for
                                help in case of an emergency.
                            </li>
                            <li>
                                <b>Insurance:</b> The app should provide insurance coverage for both the rider and the driver.
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>