<!DOCTYPE html> 

<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style-main.css" type="text/css" />  
        
    </head>
    <body>  
    <div th:replace="driversingup::navbar1"> </div>
        <h1 style="margin-top:100px;">your Message is successfully recorded</h1>
    </body>
</html>
